/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-shadow: #f39c12;
 
    margin: 0px;
    padding: 0px;
    background: url('img/gym photo.jpeg');
}



/* Header styling */
header {
  background-color: #333;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f39c12;
}

/* Main section styling */
.main {
  padding: 20px 0;
}

.hero {
  background-image: url('gym.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

.features {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.feature {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: indianred;
  color: red;
  

}

.feature p {
  font-size: 1.1rem;
  color: #555;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
